@charset "UTF-8";

h1 {
    text-align: center;
  }
  
  #gallery {
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .img-item {
    opacity: 0;
    /* 上があると何も映らない状態 */
    filter: blur(5px);
    /* フィルターでぼやかしている。フィルターがかかった状態から、元の鮮明な状態にする処理をする。 */
    width: 100%;
  }
  
  .img-item img {
    width: 100%;
    height: auto;
  }
  
  .img-item p {
    text-align: center;
  }
  
  footer {
    text-align: center;
    color: #EEE;
  }